<p style="color: ##color#">Hello</p>

<p>
  <a href="color.html">Pick color</a> <br/>
  <a href="para.html"> Comments...</a>
</p>

<form action="/logout" method="post">
  <input type="submit" value="Logout" />
</form>
