<form method="POST" action="/test">
  First Name: <br> <input type="text" size="30" name="firstname" /> <br> <br>
  Last Name: <br> <input type="text" size="30" name="lastname" />  <br> <br>

  Flavors: <br>
  <input type="checkbox" name="Flavors" value=" Chocolate"> Chocolate <br>
  <input type="checkbox" name="Flavors" value=" Vanilla"> Vanilla <br>
  <input type="checkbox" name="Flavors" value=" Strawberry"> Strawberry <br> <br>

  Size: <br>
  <input type="radio" name="Size" value="Small"> Small <br>
  <input type="radio" name="Size" value="Medium"> Medium <br>
  <input type="radio" name="Size" value="Large"> Large <br> <br>

  <input type="submit" value="Submit" />
</form>


 
