<p style="color: ##color#">Hello, admin.</p>
  <div style = "display: #msg1#">
    Account created.
  </div>

  <div style = "display: #msg2#">
    Account deleted.
  </div>

  <div style = "display: #msg3#">
    User #user# password changed.
  </div>

<p>
  <a href="users_list.html">List of users</a> <br/>
  <a href="ct_acct.html">Create Account</a> <br/>
  <a href="cng_pwd.html">Change User Password</a> <br/>
  <a href="dl_acct.html">Delete Account</a> <br/> <br/>
  <a href="color.html">Pick color</a>
</p>

<form action="/logout" method="post">
  <input type="submit" value="Logout" />
</form>
