<form method="POST" action="/color">
  <input type="radio" name="color" value="FF0000" #red#  > Red   <br>
  <input type="radio" name="color" value="00FF00" #green#> Green <br>
  <input type="radio" name="color" value="0000FF" #blue# > Blue  <br>
  <input type="submit" value="Submit" />
</form>
<form action="/" method="get">
<input type="submit" value="Return to Homepage" />
</form>

